.test {
  color: White;
  background-color: Blue;
}

.test1 {
  color: White;
  background-color: Gray;
}

.test2 {
  color: White;
  background-color: Pink;
}

.test3 {
  color: White;
  background-color: Purple;
}


